<h1>All Meals</h1>

<% @meal.each do |g| %>

<strong>Meal:</strong><%= g.name %><br />
<%= image_tag g.image_url.to_s %><br />
<strong>Cook:</strong><%= g.cook.cook_name if g.cook %><br /><br />

<% end %>





