
<h1>Congratulations ! You've just subscribed!</h1>

<strong>Restaurant:</strong> <%= @subscriber.restaurant %><br />

<strong>Post Code:</strong> <%= @subscriber.postcode %><br />

<strong>Email address:</strong> <%= @subscriber.email %><br />
